@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
  box-sizing: border-box;
  background-color: rgb(221, 221, 221);
}
body{
  margin: 0;
  padding: 0;
  color: rgb(34, 89, 134);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}
.icons{
  cursor: pointer;
  background-color: transparent;
  vertical-align: middle;
}
.data{
  margin-top: 80px;
 margin-left: 15rem; 
 transition: all 0.5s;
 }
 .data-width {
   margin-left: 3rem; 
 }
 table{
  width: 100%;
	border-collapse: collapse;
 }
 table td,table th{
  padding:10px 12px;
  border:1px solid rgb(219, 225, 233);
  text-align: center;
  font-weight: 500;
  font-size:16px;
}

table  thead th{
	background-color: rgb(34, 89, 134);
	color:#ffffff;
	position:relative;
	z-index: 1;
	position: sticky;
	top: 10%;
}
table tbody tr{
	background-color: #e2dddd;
}
table tbody tr:nth-child(even){
	background-color: #ffffff;
}
button{
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  font-weight: 100;
  color: white;
  background: rgb(34, 89, 134);
  letter-spacing: 0.1rem;
  border: none;
}
button:hover{
  border: 1px solid rgb(34, 89, 134);
    background: rgb(238, 238, 238);
    color: rgb(34, 89, 134);
    transition: 0.3s;
}
.delete-btn{
  background-color: #F8D7DA;
    color: #721C24;
}
.delete-btn:hover{
  color: #F8D7DA;
  background-color:#721C24;;
	transition: 0.3s;
}
input[type=search],input[type=date]{
  width: 700px;
  padding: 10px;
  font-size: 17px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
}
input[type=date]{
  width: 300px;
}
input[type=search]:focus,input[type=date]:focus{
  border: 2px solid rgb(34, 89, 134);
}
.popup-container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.178);
  top: 0;
  left: 0;
  z-index: 3;
}
.popup{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 30px;
  transform: translateY(-50%);
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid rgb(34, 89, 134);
}
/* Title Bar */
.title-bar{
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  top: 0;
  background-color: white;
  box-shadow:inset 0 -4px 3px rgb(218, 216, 216);
}
.title-bar-icons{
  margin: 17px 35px 0 35px;
}
.title-bar div{
  cursor: pointer;
}
.title-bar div:hover{
  background-color: rgb(34, 89, 134);
  color: white;
  transition: 0.5s;
}

/* Menubar */
.menubar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background: rgb(34, 89, 134);
  padding: 0;
  transition: 0.5s;
}

.menubar-icons{
  margin:0px 10px 5px 5px;
}
  .menubar-title{
  position:fixed;
  background-color: white;
  font-weight: 550;
  padding: 5px;
  top:0;
  margin-top: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.4s;
}
.menubar-title-icon{
  cursor: pointer;
}
.menubar-title-icon:hover{
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 4px;
  background-color: rgb(34, 89, 134);
  border-radius: 50%;
  transition: 0.5s;
}
.menubar ul{
  list-style: none;
  margin-top: 80px;
  padding-left: 0;
  color: white;
 }
.menubar li{
   cursor: pointer;
   padding: 7px;
   border-bottom: 1px solid rgba(255,255,255,0.05);
   transition: 0.3s;
 }
.menubar li:hover{
  color:rgb(34, 89, 134);
  background-color: white;
}
.menu-hide{
  width: 45px;
}
.menu-show{
  width: 235px;
 
}
.menubar-list span{
  display: none;
}
.hide-menu{
  text-align: left;
  background-color: white;
  position: relative;
}
/*Home Page*/
.home{
  display: flex;
  flex-direction: row; 
  margin: 10px;
  font-weight: 600;
}

.home-add-product{
  background-color: white;
  padding: 5px 20px 20px 20px;
  border-radius: 10px;
  margin-right: 10px;
}
.home-add-product p{
  font-size: 22px;
}
.home-img-form{
  display: flex;
  flex-direction: row;
}
.home-img-form form{
  margin-left: 15px;
}
.home-img-form img{
  background: white;
  object-fit: cover;
  height: 300px;
  width: 300px;
}
.home-img-form form{
  text-align: right;
}
.home-img-form form label{
  padding: 5px;
}
.home-img-form form input{
    width: 250px;
    height: 30px;
    font-weight: 600;
    font-size: 17px;
    margin: 5px 0px 5px 15px;
    padding-left: 10px;
    border: 1px solid rgb(34, 89, 134);
}
.home-table{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.home-table button{
  margin: 5px;
}
.total-price{
  font-weight: 600;
  letter-spacing: 00.1rem;
}
/*Bill Record*/
.bill-record-top-bar{
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
.bill-record-data{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: white;
  padding:1px 10px 1px 10px;
  border-radius: 10px;
}
.border-line{
  width: 300px;
  height: 2px;
  background-color:rgb(34, 89, 134);
}
.bill-record-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bill-record-buttons button{
  margin: 5px;
}

.bill-items-top{
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1080px){
  .home{
    flex-direction: column; 
  }
  .home-table{
    margin: 10px;
  }
}
/*Mobile View*/
@media only screen and (max-width: 760px){
  .title-bar h2{
    padding-left: 50px;
  }
  .menubar-title-test{
   display: none;
  }
  .menu-hide{
    width: 0px;
  }
  .menu-show{
    width: 100%;
  }
  .data-width {
    margin-left: 1rem; 
  }
  .home-img-form{
    flex-direction: column;
  }
  .home-img-form form{
    margin-top: 5px;
  }
  table thead{
		display: none;
	}

	table, table tbody, table tr, table td{
		display: block;
	}
	table tr{
		margin-bottom:15px;
	}
	table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
  .border-line{
    width:130px;
  }
}